<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Index</title>
    <style>
        img {
            width: 250px;
            height: 250px;
        }
        form {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Artist <%= artist.name %> </h1>
    <img src= <%= artist.url %>>
    <h2><%= artist.name %>'s bio</h2>
    <p> <%= artist.bio %>  </p>

    <form method="POST" action="/artists/<%= artist.id %>?_method=DELETE">
        <button>Delete</button>
    </form>

    <a href="/artists/<%= artist.id %>/edit">Edit</a>

    <a href="/artists">Back to Index</a>

</body>
</html>